<html>
<head>

</head>
<body>
    <div class="input-group input-group-lg">
        <input type="text" value="" id="urunAdi" name="city" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="ÜRÜN ADINI YAZ">
    </div>
        @{
            foreach (var item in ViewBag.hammaddeler)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="@item.Id" id="@item.Id" name="myCheckboxes">
                    <label class="form-check-label" for="defaultCheck1">
                        @item.Hammadde
                    </label>
                </div>
                <input type="number" value="0" id="text-@item.Id" name="city" class="form-control col-sm-4" placeholder="Kaç adet?">



                @*<div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Default checkbox
                    </label>
                </div>*@
                @*<div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                    <label class="form-check-label" for="defaultCheck2">
                        Disabled checkbox
                    </label>
                </div>*@
            }
        }

        <div class="form-group">
            <div>
                <div class="form-inline">
                    <div class="form-group ">
                        <div>
                            <input type="button" class="btn btn-success" value="Üret" id="btnsubmit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
</body>
</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        $("#btnsubmit").click(function (e) {
            //var checkId = [];
            //$.each($("input[name='myCheckboxes']:checked"), function () {
            //    checkId.push($(this).val());
            //});
            //alert("My favourite sports are: " + checkId);


            var array = [];
            var checkId = [];
            $.each($("input[name='myCheckboxes']:checked"), function () {
                // checkId.push($(this).val());
                array.push({
                    id: $(this).val(),
                    quantity: $("#text-" + $(this).val()).val(),
                });
            });

            //var jsonString = JSON.stringify(array);
            //alert(jsonString);

         
            //Serialize the form datas.
            //to get alert popup

            var urunler = {
                Urun: $("#urunAdi").val(),
                Miktar: 0,
                UrunKodlari: array,
            }

            alert(urunler.Urun);

            $.ajax({
                type: "POST",
                url: "/Urunler/UrunYarat",
                data: urunler,
                dataType: "json",
                success: function (result) {
                    // Result.
                },
                error: function () {
                    //do your own thing
                }
            });


            //$.ajax({
            //    url: "/Hammaddeler/YeniHammaddeKaydet",
            //    type: "POST",
            //    dataType: 'json',
            //    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            //    data: hammaddeler
            //});
        });
    });
</script>